DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_APP_URL=
PAYMENKU_API_KEY=
PAYMENKU_BASE_URL=https://api.paymenku.com/v1
PAYMENKU_CHANNEL_CODE=qris3
PAYMENKU_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
